<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>You are logged in</h1>
        <br />
        <form id="checkbox-form" method="POST">
          {% csrf_token %}
          <div class="checkbox">
            <label><input type="checkbox" name="checkbox1" /> Your task is to create a slogan for each cocktail that you see.</label>
            <label><input type="checkbox" name="checkbox2" /> There is no length limit for each slogan. </label>
            <label><input type="checkbox" name="checkbox3" /> There is no time limit to create each slogan.</label>
            <label><input type="checkbox" name="checkbox4" /> You can consult ChatGPT to create the slogans. </label>
            <label><input type="checkbox" name="checkbox5" /> Imagine yourself as a restaurant owner who wants to sell cocktails. </label>
            <label><input type="checkbox" name="checkbox6" /> Your goal is to maximize the chances of selling each cocktail with your slogans. </label>
          </div>
          <button type="submit">Start the task</button>
        </form>
      </div>
    </div>

    <script src="/static/scripts/common.js"></script>
    <script src="/static/scripts/dashboard.js"></script>
  </body>
</html>
