<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <form id="login-form" method = "POST">
        {% csrf_token %}
        <div class="info">

          {{ form }}
        <div class="info">
          <button type="submit">Login</button>
        </div>
      </form>
      <div class="signup-url">
        <p>Don't have an account? <a href="/register">Sign up here</a>.</p>
      </div>
    </div>
    <script src="scripts/common.js"></script>
    <script src="scripts/login.js"></script>
  </body>
</html>