<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>Task Page</title>
  </head>
  <body class="task3">
    <div class="container">
      <div class="center">
        <div class="slogan-counter">
          <h1>Product Idea 3</h1>
        </div>
        <p>You are a creative entrepreneur looking to generate new product ideas to combat issues of excessive screen time among Amazon Mechanical Turk workers. The product could be a physical product, software or service. The ideas are just ideas. The product need not yet exist, nor may it necessarily be clearly feasible. Give your product a name. You will generate 5 creative ideas iteratively. The product description after the product name should be expressed as a paragraph of 50 - 200 words.</p>
        <form id="user-input-form" method="POST" action="{% url 'save_user_input' %}">
          {% csrf_token %}
          <textarea name="user_input" id="user-input-center" placeholder="Type something..." style="width: 400px; height: 400px; padding: 0; text-align: left; word-wrap: break-word; overflow-wrap: break-word;"></textarea>
          <input type="number" name="task_number" value="3" style="display: none;" />
          <button id="next-btn">Next</button>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/scripts/common.js"></script>
    <script src="/static/scripts/chat.js"></script>
  </body>
</html>